%h1 {{title}}
%form.navbar-search.pull-left
  %input.search-query{:placeholder => "Search", :type => "text", "ng-model" => "name"} 
    {{name}}
.container
%br
  %ul
    %li{"data-ng-repeat" => "book in books | filter:name "}
      %h4 {{book.name}} - {{book.publisher}}