html, body {
	margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
body {
    padding-top: 30px;
    padding-left: 150px;
    margin-bottom: 80px;
	height: 100%;
}
